
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  .signupContainer{
   flex:2;
   height: 100vh;
  }
  .brand{
    flex:1;
    height: 100vh;
    @media screen and (max-width: 860px) {
       display: none;
    }
  }
}