
.customField {
  position: relative;
  font-size: 14px;
  padding-top: 20px;

  input {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: white;
    padding: 12px;
    border-radius: 3px;
    width: 100%;
    outline: none;
    font-size: 14px;
  }

  .placeholder {
    position: absolute;
    left: 12px;
    top: calc(50% + 10px);
    transform: translateY(-50%);
    color: #aaa;
    transition: top 0.3s ease, color 0.3s ease, font-size 0.3s ease;
  }
}

/* Search */
.customField.search {
  input {
    background: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;

    &:valid:not(:focus) {
      transition-delay: 0.1s;
      &.error {
        border-color: #ff647c;
      }
      + .placeholder {
        top: 20px;
        font-size: 12px;
        color: #646f80;
        background: white;
        &.error {
          color: #ff647c;
        }
      }
      ~ .errorMessage {
        font-size: 11px;
        color: #ff647c;
        margin-top: 10px;
        font-weight: 400;
      }
    }
    &:focus {
      border-color: #42433d;
      transition-delay: 0.1s;

      + .placeholder {
        top: 20px;
        font-size: 12px;
        color: #42433d;
        background: white;
      }
      ~ .errorMessage {
        display: none;
      }
    }
  }

  input + .placeholder {
    left: 10px;
    padding: 0 5px;
  }
}


