$os-secondary: #5d8aa8;
$os-primary: #03396c;

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #c7ccdb;
  font-size: .9rem;
  font-weight: 700;
  line-height: 1;
  border: none;
  border-radius: 5px;
  background: #ededed;
  padding: 19px 33px;
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.25s;
  text-decoration: none;
  width: 100%;

  &:hover {
    color: #fff;
    background: #286ef9;
  }

  &_fill_primary {
    background: $os-primary;
    border-color: $os-primary;
    color: #fff;

    &:hover {
      background: $os-secondary;
      border-color: $os-secondary;
    }
  }
}
