$incsub-primary: #03396c;
$text-color:#c7ccdb;
$white: #fff;
$btn-background: #ededed;

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: $text-color;
  font-size: .9rem;
  font-weight: 700;
  line-height: 1;
  border: none;
  border-radius: 5px;
  background: $btn-background;
  padding: 1.18rem 2.06rem;
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.25s;
  text-decoration: none;
  width: 100%;
  margin-top: 1.25rem;

  &:hover {
    color: $white;
    background: $incsub-primary;
  }
}
