$clr-gray100: #f9fbff;
$clr-gray600: #2a324b;
$clr-gray300: #e1e5ee;
$clr-gray400: #767b91;
$ash: #aaa;
$light-ash:#ddd;
$radius: 0.2rem;

.container {
  width: 100%;
}

.select_box {
  display: flex;
  width: 100%;
  flex-direction: column;
  position: relative;
  padding-top: 1.25rem;

  label {
    cursor: pointer;
  }

  .options_container {
    background: $clr-gray100;
    color: #42433d;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: .5rem;
    overflow: hidden;
    font-size: .875rem;

    //to move above the options
    order: 1;
    position: absolute;
    z-index: 1;
    top: 3.5rem;

    //hide radio icon
    .option input {
      display: none;
    }

    .option {
      padding: 0.5rem 1rem;
      cursor: pointer;
    }

    //hover effect
    .option:hover {
      background: $clr-gray300;
    }

    //style the active ones
    &.active {
      max-height: 15rem;
      opacity: 1;
      overflow-y: scroll;
    }

    //style the scroll bar
    &::-webkit-scrollbar {
      width: 8px;
      background: $clr-gray300;
      border-radius: 0 0.5rem 0.5rem 0;
    }

    &::-webkit-scrollbar-thumb {
      background: $clr-gray400;
      border-radius: 0 0.5rem 0.5rem 0;
    }
  }
}


.selected {
  padding: .75rem;
  cursor: pointer;
  color: #42433d;
  border-radius: $radius;
  border: 1px solid $clr-gray300;
  position: relative;
  order: 0;
  font-size: .875rem;

  &::after {
    content: "";
    background: url("./arrow-down.svg");
    background-size: contain;
    background-repeat: no-repeat;
    fill: red;
    position: absolute;
    height: .5rem;
    width: .625rem;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    transform-origin: center;
    transition: all 0.4s;
  }
}

//test
.select_box .options_container.active + .selected::after {
  transform: rotateX(180deg) translateY(50%);
}

// dropdown search box
.item_search {
  padding: 1rem 1rem .5rem;

  input[type="search"] {
    width: 100%;
    height: 2.19rem;
    border: 1px solid $light-ash;
    border-radius: 3px;
    padding: 0 .625rem;

    &:focus {
      border: 1px solid $clr-gray400;
    }
  }
}
