.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30rem;
  margin: auto;

  @media screen and (max-width: 860px) {
       width: 20rem;
    }
}

.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: none;
  width: 100%;
}

.mainHeaderText {
  font-size: 1.5rem;
  font-weight: bold;
  font-style: normal;
  line-height: 2.5625;
  flex: none;
  margin-bottom: .5rem;
  opacity: .8;
}

.alternateInfo {
  display: flex;
  width: 100%;
  align-self: center;
  margin-top: .625rem;
  font-size: .8rem;
  opacity: .8;
  p {
    margin-right: .3125rem;
  }
  a{
    text-decoration: none;
    font-weight: bold;
    color:#286ef9;
  }
}

.brandContainer{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background: #286ef9;
  padding: 7rem;
  line-height: 1.5rem;

  .heading{
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 4rem;
  }
  .subHeading{
    font-size: .9rem;
  }
}

.agreementInfo{
  width: 100%;
  font-size: .8rem;
  margin-top: 2rem;
  line-height: 1.5rem;
  a {
    text-decoration: none;
    color: #286ef9;
    font-weight: bold;
    }
}
